<%- include('./partials/header'); %>

<%- include('./partials/navbar'); %>

<h2 class="text-center">Welcome to Cpanel, <%= admin.name %>!</h2>
<p>Email:</p>
<h5><%= admin.name %></h5>
<p>Password:</p>
<h5>******</h5>

<%- include('./partials/footer'); %>