<%- include('./partials/header'); %>

<%- include('./partials/navbar'); %>

<a href="<%= `/companies/${ menu.companyId }` %>">Back to Company</a>

<h4 class="text-center"><%= menu.name %></h4>

<div class="row">
    <div class="col-sm-6">
        <form action="/menus/update" method="POST">
            <h6>Name:</h6>
            <p><%= menu.name %></p>
            <input name="name" class="form-control" placeholder="type here to update menu's name.." type="text" />
            <hr />
            <h6>Description:</h6>
            <p><%= menu.description %></p>
            <textarea name="description" class="form-control" placeholder="type here to update menu's description.."></textarea>
            <hr />
            <h6>Image:</h6>
            <img
                id="updateMenuPreview"
                src="<%= menu.image.url %>"
                class="img-fluid"
                style="max-height: 150px;"
            />
            <br /><br />
            <p>Choose file to update the image..</p>
            <input class="form-control" type="file" accept="image/*" onchange="addImg(event, 'updateMenu')" />
            <input id="updateMenuUrl" name="image" type="hidden" value="" />
            <input name="id" type="hidden" value="<%= menu.id %>" required />
            <br />
            <input class="btn btn-success" type="submit" value="update" />
        </form>
        <form action="/menus/delete" method="POST">
            <hr />
            <h6>Delete menu</h6>
            <p>(note that you can only delete Menus that currently do not contain Menu Categories)</p>
            <input name="confirm" class="form-control" placeholder="type numbers from 1 to 5 here.." type="text" required />
            <br />
            <input name="id" type="hidden" value="<%= menu.id %>" required />
            <input class="btn btn-danger" type="submit" value="delete" />
        </form>
        <br />
    </div>
    <div class="col-sm-6">
        <h6 class="text-right">List of menu categories:</h6>
        <ol>
            <% menuCategories.map(category => { %>
                <li><a href="<%= `/menucategories/${ category.id }` %>"><%= category.name %></a></li>
            <% }) %>
        </ol>
        <hr />
        <h6 class="text-right">Add new Menu Category:</h6>
        <form action="/menucategories" method="POST">
            <input name="menuId" value="<%= menu.id %>" type="hidden" required />
            <label>Name</label>
            <input name="name" type="text" class="form-control" required />
            <br />
            <label>Description</label>
            <textarea name="description" class="form-control" required></textarea>
            <br />
            <div>
                <img id="addMenuCategoryPreview" class="mx-auto d-block img-fluid" />
            </div>
            <br />
            <input onchange="addImg(event, 'addMenuCategory')" type="file" accept="image/*" class="form-control" />
            <input id="addMenuCategoryUrl" name="image" value="" type="hidden" required />
            <br />
            <p class="text-center">
                <input type="submit" value="Add" class="btn btn-primary" />
            </p>
        </form>
    </div>
</div>

<%- include('./partials/footer'); %>