<%- include('./partials/header'); %>

<%- include('./partials/navbar'); %>

<a href="<%= `/menus/${ menuCategory.menuId }` %>">Back to Menu</a>

<h4 class="text-center"><%= menuCategory.name %></h4>

<div class="row">
    <div class="col-sm-6">
        <form action="/menucategories/update" method="POST">
            <h6>Name:</h6>
            <p><%= menuCategory.name %></p>
            <input name="name" class="form-control" placeholder="type here to update Menu Category name.." type="text" />
            <hr />
            <h6>Description:</h6>
            <p><%= menuCategory.description %></p>
            <textarea name="description" class="form-control" placeholder="type here to update Menu Category description.."></textarea>
            <hr />
            <h6>Image:</h6>
            <img
                id="updateMenuCategoryPreview"
                src="<%= menuCategory.image.url %>"
                class="img-fluid"
                style="max-height: 150px;"
            />
            <br /><br />
            <p>Choose file to update the image..</p>
            <input class="form-control" type="file" accept="image/*" onchange="addImg(event, 'updateMenuCategory')" />
            <input name="image" id="updateMenuCategoryUrl" type="hidden" value="" />
            <input name="id" type="hidden" value="<%= menuCategory.id %>" required />
            <br />
            <input class="btn btn-success" type="submit" value="update" />
        </form>
        <form action="/menucategories/delete" method="POST">
            <hr />
            <h6>Delete Menu Category</h6>
            <p>(note that you can only delete Menu Categories that currently do not contain Menu Items)</p>
            <input name="confirm" class="form-control" placeholder="type numbers from 1 to 5 here.." type="text" required />
            <br />
            <input name="id" type="hidden" value="<%= menuCategory.id %>" required />
            <input class="btn btn-danger" type="submit" value="delete" />
        </form>
        <br />
    </div>
    <div class="col-sm-6">
        <h6 class="text-right">List of Menu Items:</h6>
        <ol>
            <% menuItems.map(item => { %>
                <li><a href="<%= `/menuitems/${ item.id }` %>"><%= item.name %></a></li>
            <% }) %>
        </ol>
        <hr />
        <h6 class="text-right">Add new Menu Item:</h6>
        <p>Note that you can add extra information (calories, allergens and extra images) after creating Menu Item</p>
        <form action="/menuitems" method="POST">
            <input name="menuCategoryId" value="<%= menuCategory.id %>" type="hidden" required />
            <label>Name</label>
            <input name="name" type="text" class="form-control" required />
            <br />
            <label>Description</label>
            <textarea name="description" class="form-control" required></textarea>
            <br />
            <label>Image</label>
            <div>
                <img id="addMenuItemPreview" class="mx-auto d-block img-fluid" />
            </div>
            <br />
            <input onchange="addImg(event, 'addMenuItem')" type="file" accept="image/*" class="form-control" required />
            <input name="image" id="addMenuItemUrl" value="" type="hidden" required />
            <br />
            <p class="text-center">
                <input value="Add" type="submit" class="btn btn-primary" />
            </p>
        </form>
    </div>
</div>

<%- include('./partials/footer'); %>