<%- include('./partials/header'); %>

<%- include('./partials/navbar'); %>

<a href="<%= `/menucategories/${ menuItem.menuCategoryId }` %>">Back to Menu Category</a>

<h4 class="text-center"><%= menuItem.name %></h4>

<div class="row">
    <div class="col-sm-6">
        <h5 class="text-center">Info</h5>
        <h6>Name</h6>
        <p><%= menuItem.name %></p>
        <h6>Description</h6>
        <p><%= menuItem.description %></p>
        <h6>Calories</h6>
        <p>fats: <%= menuItem.calories.fats %></p>
        <p>carbs: <%= menuItem.calories.carbs %></p>
        <p>proteins: <%= menuItem.calories.proteins %></p>
        <div class="card card-body">
            <h6>Delete Menu Item</h6>
            <form action="/menuitems/delete" method="POST">
                <input name="confirm" type="text" class="form-control" placeholder="enter numbers from 1 to 5 here.." />
                <input name="id" type="hidden" value="<%= menuItem.id %>" />
                <input name="menuCategoryId" type="hidden" value="<%= menuItem.menuCategoryId %>" />
                <br />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
        </div>
    </div>
    <div class="col-sm-6">
        <h5 class="text-center">Update Info</h5>
        <form action="/menuitems/update" method="POST">
            <h6 class="text-right">Name</h6>
            <input name="name" type="text" class="form-control" />
            <br />
            <h6 class="text-right">Description</h6>
            <textarea name="description" class="form-control"></textarea>
            <br />
            <h6 class="text-right">Calories</h6>
            <input name="fats" type="text" class="form-control" placeholder="fats.." />
            <input name="carbs" type="text" class="form-control" placeholder="carbs.." />
            <input name="proteins" type="text" class="form-control" placeholder="proteins.." />
            <input name="id" value="<%= menuItem.id %>" type="hidden" required />
            <br />
            <p class="text-center">
                <input type="submit" value="Update" class="btn btn-success" />
            </p>
        </form>
    </div>
</div>

<hr />

<div>
    <h5 class="text-center">Allergens</h5>
    <div class="row">
        <div class="col-sm-6">
            <h6>List</h6>
            <ol>
                <% allergens.map(allergen => { %>
                    <li>
                        <form action="/menuitems/allergen/delete" method="POST">
                            <input name="id" value="<%= allergen.id %>" type="hidden" required />
                            <span><%= allergen.name %></span> | 
                            <input value="delete" type="submit" />
                            <br /><br />
                        </form>
                    </li>
                <% }) %>
            </ol>
        </div>
        <div class="col-sm-6">
            <h6 class="text-right">Add new</h6>
            <form action="/menuitems/allergen" method="POST">
                <label>Name</label>
                <input name="name" type="text" class="form-control" />
                <input name="itemId" value="<%= menuItem.id %>" type="hidden" required />
                <br />
                <p class="text-center">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </p>
            </form>
        </div>
    </div>
</div>

<hr />

<div>
    <h5 class="text-center">Images</h5>
    <p class="text-center">Main Profile Image</p>
    <div>
        <img alt="<%= menuItem.name %>" src="<%= menuItem.image.url %>" class="mx-auto d-block img-fluid" />
    </div>
    <p class="text-center">Other images</p>
    <div class="flexBox">
        <% images.map(image => { %>
            <div class="flexBoxItem text-center">
                <img src="<%= image.url %>" alt="<%= image.id %>" class="mx-auto d-block itemBoxImage" />
                <br />
                <form action="/menuitems/deleteimg" method="POST">
                    <input name="id" type="hidden" value="<%= image.id %>" required />
                    <input name="itemId" type="hidden" value="<%= menuItem.id %>" required />
                    <input type="submit" value="Delete" />
                </form>
                <br />
                <form action="/menuitems/setasprofileimg" method="POST">
                    <input name="id" type="hidden" value="<%= image.id %>" required />
                    <input name="itemId" type="hidden" value="<%= menuItem.id %>" required />
                    <input type="submit" value="Set as profile image" />
                </form>
            </div>
        <% }) %>
    </div>
    <br />
    <p class="text-center">Add image</p>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div>
                <img id="addMenuItemImagePreview" class="mx-auto d-block img-fluid" />
            </div>
            <br />
            <form action="/menuitems/image" method="POST">
                <input onchange="addImg(event, 'addMenuItemImage')" type="file" accept="image/*" class="form-control" required />
                <input name="itemId" type="hidden" value="<%= menuItem.id %>" required />
                <input name="url" id="addMenuItemImageUrl" type="hidden" value="" required />
                <br />
                <p class="text-center">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </p>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

<%- include('./partials/footer'); %>